@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "LINESeedKR-Bd";
}

:root {
  /* 색상 */
  --color--primary: #7fc0b7;
  --color--secondary: #a5dcd7;
  --color--background: #1c6043;
  --color--text: #dbdbdb;
  --color--text-white: white;
  --color--text-black: #2a2a2a;
  --color--link: #c9e097;

  /* 폰트 사이즈 */
  --font-size--base: 16px;
  --font-size--x-samll: 10px;
  --font-size--small: 12px;
  --font-size--large: 20px;
  --font-size--x-large: 24px;

  /* 센터링 & 컨테이닝 */
  --max-width--pc: 1200px;
  --max-width--mobile: 768px;

  /* 트랜지션  */
  --transition--short-time: 0.3s;
}
